# Local / import scripts only. Never put production keys here.

DATABASE_URL=
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337
IDO_ADDRESS=
LOCAL_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
TEST_PRIVATE_KEY=

# BSC mainnet (Deploy.s.sol)
# USDT_ADDRESS=0x55d398326f99059fF775485246999027B3197955
# OWNER=
